header {
    font-famiy: arial sans-serif;
    background-color: black;
    padding: 0.5em;
}
header h1 {
    font-size: 50px;
    color: crimson;
    margin-bottom: 0em;
}
header h2 {
    margin-top: 0em;
    color: white;
}
nav {
    font-family: arial sans-serif;
}
#menu ul {
    list-style-type: none;
    text-align: left;
}

#menu ul li {
    display: inline;
    padding-right: 1em;
    padding-left: 0em;
}
#menu ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
main {
    margin-left = 10px;
}

main ul {
    list-style-type: none;
}