header {
    padding: 0.5em;
}
nav {
    font-family: arial;
}
#menu ul {
    list-style-type: none;
    text-align: left;
}

#menu ul li {
    display: inline;
    padding-right: 1em;
    padding-left: 0em;
}
#menu ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
