* {

    margin: 10px;
}

body {
    border: solid 3px black;
    background-color: gray;
}

header {
    border: solid 3px blue;
    background-color: white;
}


aside {
    border: solid 1px black;
    background-color: lightgray;
}

main {
    border: solid 3px yellow;
    background-color: white;
}

a {
    color: white;
}
