body {
    margin: 0;
    background-color: black;
}

main a {
    color: red;
}

header {
    background-color: crimson;
    border: 5px solid black;
    padding: 0.75em;
    color: white;
}

h2 {
    background-color: crimson;
    color: white;
    padding: 0.5em;
    margin: 0.25em;
}

section {
    background-color: white;
    padding: 1em;
    border: 5px solid black;
}

ul {
    background-color: white;
    padding: 2em;
}

footer {
    text-align: center;
}

footer a {
    color: white;
}
